<faf-filter-criterion *ngFor="let filter of filters; let i = index"
                      [index]="i"
                      (expressionChange)="onFilterChange(i, $event)"
                      (remove)="onRemove(i)">
</faf-filter-criterion>
<faf-sort-criterion-component (expressionChange)="onSortingChange($event)"></faf-sort-criterion-component>

<p *ngIf="showQuery">
  <input type="text" pInputText disabled [(ngModel)]="mapName"
         style="width: 30em">
</p>
<div>
  <button pButton class="ui-button-secondary" icon="pi pi-plus" (click)="addCriterion()" label="Add criterion"></button>
  <button pButton icon="pi pi-search" (click)="onSearch()" label="Search"></button>
  <p-inputSwitch [(ngModel)]="showQuery" id="advancedFilteringOff"></p-inputSwitch>
  Show query string
</div>
