<faf-filter-criterion *ngFor="let filter of filters; let i = index"
                      [index]="i"
                      (expressionChange)="onFilterChange(i, $event)"
                      (remove)="onRemove(i)">
</faf-filter-criterion>
<faf-sort-criterion-component (sortSelectionChange)="onSortingChange($event)"></faf-sort-criterion-component>

<p *ngIf="showQuery">
  <input type="text" class="input-group-text" disabled [(ngModel)]="queryString"
         style="width: 30em">
</p>
<div>
  <button class="btn btn-outline-primary" (click)="addCriterion()">Add criterion</button>
  <button class="btn btn-primary" (click)="onSearch()">Search</button>
  <span class="custom-switch" style="margin-left: 1em">
  <input type="checkbox" class="custom-control-input" id="advancedFilteringOff" [(ngModel)]="showQuery">
  <label class="custom-control-label" for="advancedFilteringOff">Show query string</label>
</span>
</div>
