<faf-filter-criterion *ngFor="let filter of filters; let i = index"
                      [index]="i"
                      (expressionChange)="onChangedExpression(i, $event)">
</faf-filter-criterion>

<div *ngIf="showQuery">
  <input type="text" disabled [(ngModel)]="mapName"
         style="width: 30em">
</div>
<button class="btn btn-primary" (click)="onSearch()">Search</button>
<span class="custom-switch" style="margin-left: 1em">
  <input type="checkbox" class="custom-control-input" id="advancedFilteringOff" [(ngModel)]="showQuery">
  <label class="custom-control-label" for="advancedFilteringOff">Show query string</label>
</span>
